{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}

        com.github.seancorfield/next.jdbc {:mvn/version "1.1.646"}
        com.github.seancorfield/honeysql {:mvn/version "2.3.928"}

        com.stuartsierra/component {:mvn/version "1.0.0"}

        ;; API
        compojure/compojure {:mvn/version "1.6.2"}
        ring/ring {:mvn/version "1.9.2"}
        ring/ring-defaults {:mvn/version "0.3.2"}
        ring/ring-json {:mvn/version "0.5.1"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}

        ;; authorization & authentication
        buddy/buddy-auth {:mvn/version "3.0.323"}
        buddy/buddy-hashers {:mvn/version "1.8.158"}

        org.xerial/sqlite-jdbc {:mvn/version "3.34.0"}

        ;; TODO: just for a moment, testing the tests
        com.h2database/h2 {:mvn/version "1.4.200"}
        }
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps
         {com.h2database/h2 {:mvn/version "1.4.200"}
          io.github.cognitect-labs/test-runner
          {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :build {:replace-deps {io.github.seancorfield/build-clj
                         {:git/tag "v0.8.0" :git/sha "9bd8b8a"}}
          :ns-default build}}}
